<div class="col-md-12 mx-auto ">
      <nav class="navbar navbar-dark bg-dark" style="border-radius: 20px; font-size:16px;">
  <a class="navbar-brand" href="/catalogo">
    <img src="https://image.flaticon.com/icons/png/128/2611/2611181.png" width="50" height="50" class="d-inline-block align-top" alt="">
    E-commerce
  </a>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" href="/catalogo">catalogo</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/carrito"><img src="https://image.flaticon.com/icons/png/128/2611/2611181.png" width="30" height="30" class="d-inline-block align-top" alt="">
        </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/agregarProducto">Agregar Producto</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/history">Historial</a>
        </li>
    </ul>
</nav>
  </div>
 <br>
<br>
<div class="col-md-6 mx-auto">
    <div class="card">
        <div class="card-header">
            <h1>Actualizar Productos</h1>
        </div>
        
        <div class="card-footer">
            <form action="/edit/{{productos._id}}?_method=PUT" method="POST">
            <input type="hidden" name="_method" value="PUT">
                <div class="form-group">
                    <input type="text"  name="nombre_producto" value="{{productos.nombre_producto}}" class="form-control" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="categoria" value="{{productos.categoria}}"  class="form-control"  >
                </div>
                <div class="form-group">
                    <input type="text" name="descripcion" value="{{productos.descripcion}}"  class="form-control"  >
                </div>
                <div class="form-group">
                    <input type="text" name="precio" value="{{productos.precio}}"  class="form-control"   >
                </div>
                <div class="form-group">
                    <input type="text" name="foto" value="{{productos.foto}}"  class="form-control"  >
                </div>
                <div class="form-group">
                    <input type="text" name="promocion" value="{{productos.promocion}}"  class="form-control"  >
                </div>
                <div class="form-group">
                    <input type="text" name="descuento" value="{{productos.descuento}}"  class="form-control"  >
                </div>
                <button type="submit" class="btn btn-primary btn-block">
                    Actualizar
                </button>
            </form>
        </div>

    </div>
</div>