 <div class="col-md-12 mx-auto ">
      <nav class="navbar navbar-dark bg-dark" style="border-radius: 20px; font-size:16px;">
  <a class="navbar-brand" href="/catalogo">
    <img src="https://image.flaticon.com/icons/png/128/2611/2611181.png" width="50" height="50" class="d-inline-block align-top" alt="">
    E-commerce
  </a>
    <ul class="nav justify-content-end">
        <li class="nav-item">
        <a class="nav-link" href="/carrito"><img src="https://image.flaticon.com/icons/png/128/2611/2611181.png" width="30" height="30" class="d-inline-block align-top" alt="">
        </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/agregarProducto">Agregar Producto</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/promociones">Promociones</a>
        </li>
    </ul>
</nav>
  </div>
 <br>
<br>
<div  class="col-md-10 mx-auto">
  <nav class="navbar navbar-light" style="background-color: #e3f2fd; border-radius: 90px;">
  <form class="form-inline">
    <h5>Caterogias:    </h5>
    <a href="/catalogo"><button class="btn btn-sm btn-outline-secondary" type="button" style="margin-left: 30px">Todos</button></a>
    <a href="/tecnologia"><button class="btn btn-sm btn-outline-secondary" type="button" style="margin-left: 30px">Tecnologia</button></a>
    <a href="/hogar"><button class="btn btn-sm btn-outline-secondary" type="button" style="margin-left: 30px">Hogar</button></a>
   <a href="/deporte"><button class="btn btn-sm btn-outline-secondary" type="button" style="margin-left: 30px">Deporte</button></a>
  </form>
</nav>
</div>

<br>
<br>
<div class="col-md-10 mx-auto">
<div class="row ">
  {{#each productos}}
  <div class="col-md-3 mx-auto">
    <div class="card">
      <div class="card-body">
        
        <h4 class="card-title"> {{nombre_producto}}   </h4>
        <br>
        <button class="btn btn-success"><img class="card-img" src="{{foto}}"></button>
         
        <p> {{descripcion}}  </p>
        <h5> {{precio}} </h5>
        <a href="/edit/{{id}}">
        <button type="submit" class="btn btn-primary " style="width:40px; height:40px; float:right">
          <i class="fas fa-edit"></i>
        </button>
        </a>
        <form action="/delete/{{id}}?_method=DELETE" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="btn btn-danger" style="width:40px; height:40px; float:right">
           <i class="fas fa-trash"></i>
        </button>
        </form>
        
      </div>
    </div>
  </div>
{{/each}}
</div>
</div>